<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{category.name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='css/styles.css')}}" />
</head>

<body>
    {% include 'header.html' %}
    <div class="main">
        <h1>{{category.name}}</h1>        
        {% if items.__len__() > 0 %}
        <ul>
            <h3>Items</h3>
            {% for i in items %}
            <a href="{{url_for('item', category_name=i.category.name, item_name=i.name)}}">
                <li>
                    {{i.name}}
                </li>
            </a>
            {% endfor %}
        </ul>
        {% else %}
        This category does not yet contain any items.
        {% endif %}
    </div>
</body>

</html>