<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Documentation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='css/styles.css')}}" />
</head>

<body>
    {% include 'header.html' %}
    <div class="main">
        <h1>API Documentation</h1>
        <div class="inside">
            <h2>Catalog</h2><br>

            <h3>Description</h3>
            Returns a JSON object containing all categories and the items within each category.<br><br>

            <h3>URI</h3>
            <a href="{{url_for('apiCatalog')}}">{{url_for('apiCatalog')}}</a><br><br>

            <h3>Structure</h3>
            <span class="output">
                "results": The response body.<br>
                {<br>
                - "categories": A list containing all categories.<br>
                - [<br>
                - - {<br>
                - - - "id": The category's id.<br>
                - - - "name": The category's name.<br>
                - - - "items": A list containing all of this category's items.<br>
                - - - [<br>
                - - - - {<br>
                - - - - - "id": The item's id.<br>
                - - - - - "name": The item's name.<br>
                - - - - - "description": The item's description.<br>
                - - - - - "image_url": The url for the item's image.<br>
                - - - - - "category_id": The id for the item's category.<br>
                - - - - - "user_id": The id for user that created the item.<br>
                - - - - }<br>
                - - - ]<br>
                - - }<br>
                - ]<br>
                }
            </span>
        </div>

        <div class="inside">
            <h2>Categories</h2><br>

            <h3>Description</h3>
            Returns a JSON object containing all categories.<br><br>

            <h3>URI</h3>
            <a href="{{url_for('apiCategories')}}">{{url_for('apiCategories')}}</a><br><br>

            <h3>Structure</h3>
            <span class="output">
                "results": The response body.<br>
                [<br>
                - {<br>
                - - "id": The category's id.<br>
                - - "name": The category's name.<br>
                - }<br>
                ]<br>
            </span>
        </div>

        <div class="inside">
            <h2>Category </h2><br>

            <h3>Description</h3>
            Returns a JSON object containing a specific category and a list of it's items. Requires a category id to be
            supplied.<br><br>

            <h3>URI</h3>
            <a href="{{url_for('apiCategory', category_id=1)}}">{{url_for('apiCategories')}}&lt;category_id&gt;</a><br><br>

            <h3>Structure</h3>
            <span class="output">
                "results": The response body.<br>
                {<br>
                - "id": The category's id.<br>
                - "name": The category's name.<br>
                - "items": A list containing all of this category's items.<br>
                - [<br>
                - - {<br>
                - - - "id": The item's id.<br>
                - - - "name": The item's name.<br>
                - - - "description": The item's description.<br>
                - - - "image_url": The url for the item's image.<br>
                - - - "category_id": The id for the item's category.<br>
                - - - "user_id": The id for user that created the item.<br>
                - - }<br>
                - ]<br>
                }<br>
            </span>
        </div>

        <div class="inside">
            <h2>Items</h2><br>

            <h3>Description</h3>
            Returns a JSON object containing all items.<br><br>

            <h3>URI</h3>
            <a href="{{url_for('apiItems')}}">{{url_for('apiItems')}}</a><br><br>

            <h3>Structure</h3>
            <span class="output">
                "results": The response body.<br>
                [<br>
                - {<br>
                - - "id": The item's id.<br>
                - - "name": The item's name.<br>
                - - "description": The item's description.<br>
                - - "image_url": The url for the item's image.<br>
                - - "category_id": The id for the item's category.<br>
                - - "user_id": The id for user that created the item.<br>
                - }<br>
                ]<br>
            </span>
        </div>

        <div class="inside">
            <h2>Item</h2><br>

            <h3>Description</h3>
            Returns a JSON object containing a specific item. Requires an item id to be supplied.<br><br>

            <h3>URI</h3>
            <a href="{{url_for('apiItem', item_id=1)}}">{{url_for('apiItems')}}&lt;item_id&gt;</a><br><br>

            <h3>Structure</h3>
            <span class="output">
                "results": The response body.<br>
                {<br>
                - "id": The item's id.<br>
                - "name": The item's name.<br>
                - "description": The item's description.<br>
                - "image_url": The url for the item's image.<br>
                - "category_id": The id for the item's category.<br>
                - "user_id": The id for user that created the item.<br>
                }<br>
            </span>
        </div>

        <div class="inside">
            <h2>Error</h2><br>

            <h3>Description</h3>
            Returns a JSON object containing the reason for error.<br><br>

            <h3>Structure</h3>
            <span class="output">
                "error": The response body.<br>
                {<br>
                - "reason": The reason an error occureed.<br>
                }<br>
            </span>
        </div>
    </div>
</body>

</html>