<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Catalog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='css/styles.css')}}" />
</head>

<body>
    {% include 'header.html' %}

    <div class="main">
        {{message}}<br><br>
        {% if redirect == 'catalog' %}
        Returning to Catalog...
        {% else %}
        Redirecting to {{redirect}}
        {% endif %}
    </div>

    <script>
        setTimeout(function () {
            window.location.href = "{{url_for(redirect)}}";
        }, 1500);
    </script>
</body>

</html>