<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{item.name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='css/styles.css')}}" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='scripts/item.js')}}"></script>
</head>

<body>
    {% include 'header.html' %}
    <div class="main">
        <h1>{{item.name}}</h1>
        <h3>Category:
            <a href="{{url_for('category', category_name=item.category.name)}}">
                {{item.category.name}}
            </a>
            <br>Created by {{item.user.name}}
        </h3>
        {% if creator %}
        <a href="{{url_for('itemUpdate', category_name=item.category.name, item_name=item.name)}}">
            Edit
        </a>
        |
        <a href="{{url_for('itemDelete', category_name=item.category.name, item_name=item.name)}}">
            Delete
        </a><br>
        {% endif %}
        
        {% if item.image_url %}
        <img id="item_image_display" src='{{item.image_url}}' />
        {% else %}
        <br>
        {% endif %}
        <strong>Description:</strong><br>
        {{item.description}}
    </div>
</body>

</html>